.media-img[b-ph1m7fo0hs] {
    max-height: 500px;
    max-width: 500px;
    border-radius: 6px;
    margin: 0 10px 10px 10px;
}

.media-img-wrapper[b-ph1m7fo0hs] {
    max-width: 500px;
    max-height: 500px;
    text-align: center;
}

.original-price[b-ph1m7fo0hs]{
    text-decoration: line-through;
}

@media (max-width: 1023.98px) {
    .media-img[b-ph1m7fo0hs] {
        max-width: 300px;
    }

    .media[b-ph1m7fo0hs] {
        flex-direction: column;
    }

    .media-img-wrapper[b-ph1m7fo0hs] {
        width: 100%;
        height: auto;
    }
}
