.media-img[b-bgi9vv9rdq] {
    max-height: 200px;
    max-width: 200px;
    border-radius: 6px;
    margin-bottom: 10px;
    transition: transform .2s;
}

.media-img:hover[b-bgi9vv9rdq] {
    transform: scale(1.1);
}


.media-img-wrapper[b-bgi9vv9rdq] {
    width: 200px;
    text-align: center;
}

.page-selection[b-bgi9vv9rdq] {
    margin-right: 15px;
    margin-bottom: 30px;
}

@media (max-width: 1023.98px) {
    .media[b-bgi9vv9rdq] {
        flex-direction: column;
    }

    .media-img-wrapper[b-bgi9vv9rdq] {
        width: 100%;
        height: auto;
    }
}
